In [27]:
# 
import csv
import ast
def tsv_read(path):
    dati = []
    with open(path, 'r', newline='', encoding='utf-8') as file_tsv:
        lettore_tsv = csv.DictReader(file_tsv, delimiter='\t')
        
        for riga in lettore_tsv:
            print(riga)

            # Converti le stringhe contenenti rappresentazioni di liste in liste Python
            for chiave, valore in riga.items():
                print(f'{chiave} {valore}')
                try:
                    riga[chiave] = ast.literal_eval(valore)
                    print(f'QUI {ast.literal_eval(valore)}')
                except (SyntaxError, ValueError):
                    pass
            dati.append(dict(riga))
    return dati

In [46]:
import pandas as pd
test = pd.read_csv("Cora_0005.tsv", sep='\t', skiprows=10)

In [47]:
test.head()

,Frame,Time,SMPTE,ARIEL X,ARIEL Y,ARIEL Z,LFHD X,LFHD Y,LFHD Z,RFHD X,...,LMID X,LMID Y,LMID Z,LTHMB X,LTHMB Y,LTHMB Z,RBWT X,RBWT Y,RBWT Z,Unnamed: 189
0,1,0.00,00:09:11.04:02,-173.934,1632.858,820.979,-234.758,1553.006,722.088,-98.818,...,-412.887,687.385,687.197,-373.079,717.575,684.448,-9.995,931.390,889.527,NaN
1,2,0.01,00:09:11.04:03,-173.421,1633.013,821.402,-234.185,1552.871,722.704,-98.284,...,-412.946,687.291,689.773,-373.333,717.518,686.747,-9.890,931.355,890.399,NaN
2,3,0.02,00:09:11.05:00,-172.992,1633.156,821.831,-233.620,1552.767,723.280,-97.853,...,-413.144,687.099,692.405,-373.476,717.380,689.150,-9.803,931.366,891.216,NaN
3,4,0.03,00:09:11.05:01,-172.575,1633.288,822.296,-233.033,1552.662,723.874,-97.171,...,-412.904,686.381,694.131,-373.721,716.974,691.430,-9.686,930.806,892.021,NaN
4,5,0.04,00:09:11.05:02,-172.107,1633.304,822.763,-232.531,1552.603,724.487,-96.679,...,-413.100,686.016,696.865,-373.859,716.558,694.024,-9.592,930.881,892.907,NaN

In [45]:
test.head()

,Frame,Time,SMPTE,ARIEL X,ARIEL Y,ARIEL Z,LFHD X,LFHD Y,LFHD Z,RFHD X,...,LPNKY Z,LMID X,LMID Y,LMID Z,LTHMB X,LTHMB Y,LTHMB Z,RBWT X,RBWT Y,RBWT Z
1,0.00,00:09:11.04:02,-173.934,1632.858,820.979,-234.758,1553.006,722.088,-98.818,1567.040,...,-412.887,687.385,687.197,-373.079,717.575,684.448,-9.995,931.390,889.527,NaN
2,0.01,00:09:11.04:03,-173.421,1633.013,821.402,-234.185,1552.871,722.704,-98.284,1566.919,...,-412.946,687.291,689.773,-373.333,717.518,686.747,-9.890,931.355,890.399,NaN
3,0.02,00:09:11.05:00,-172.992,1633.156,821.831,-233.620,1552.767,723.280,-97.853,1566.926,...,-413.144,687.099,692.405,-373.476,717.380,689.150,-9.803,931.366,891.216,NaN
4,0.03,00:09:11.05:01,-172.575,1633.288,822.296,-233.033,1552.662,723.874,-97.171,1566.853,...,-412.904,686.381,694.131,-373.721,716.974,691.430,-9.686,930.806,892.021,NaN
5,0.04,00:09:11.05:02,-172.107,1633.304,822.763,-232.531,1552.603,724.487,-96.679,1566.866,...,-413.100,686.016,696.865,-373.859,716.558,694.024,-9.592,930.881,892.907,NaN